.main-content
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        =@group.name
      .main-header__left-box__member-list
        Member :   
        - @group.users.each do |user|
          = user.name
        .main-header__left-box__member-list__member
    = link_to edit_group_path(@group), class: "btn main-header__edit-btn" do
      Edit
  .main-chat
    .message
      = render @messages
    

  .main-form
    .main-form__new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content,  placeholder: "type a message", class: "input-box__text"
        .input-box
          = f.label :image, class: "input-box__image" do
            = icon('fa', 'image')
            = f.file_field :image,class: "input-box__image__file"
        = f.submit 'Send', class: "submit-btn"