.side-content
  .side-header
    .side-box
      .side-box__left
        = current_user.name
      .side-box__right
        = link_to new_group_path, class: "btn side-box__right__btn1"  do
          = icon('far', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "btn side-box__right__btn2"  do
          = icon('fa', 'cog')
          %span<>
  .side-chat
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .group__group-name
              = group.name  
            .group__latest-message
              まだメッセージがありません。
              